<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <header>
        <h1>CHAT</h1>
    </header>
    <main>
        <aside>
            <div>
                <form>
                    <input type="text" name="nickname" placeholder="Insira seu nickname" id="nickname"
                    data-testid="nickname-box">
                    <button type="button"
                    data-testid="nickname-button" id="formNickname">Salvar</button>
                </form>
            </div>
            <ul id="userList">
            </ul>
        </aside>
        <br>
        <div>
            <ul id="messages">
                <% messages.forEach(({message, nickname, timestamp}) => { %>
                    <% const mes = `${timestamp} - ${nickname}: ${message}` %>
                    <li data-testid="message"><%= mes %></li>
                <%}) %>
            </ul>
            <div>
                <form>
                    <input type="text" id="message" name="message" placeholder="Digite uma nova mensagem aqui" data-testid="message-box">
                    <button type="button" data-testid="send-button" id="formMessages">Enviar</button>
                </form>
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js "></script>
    <script src="./js/chat.js"></script>
</body>
</html>